</div>

<div class="cui__layout__footer">
    <div class="cui__footer">
        <div class="cui__footer__inner">
            <a href="/" target="_blank" rel="noopener noreferrer" class="cui__footer__logo">STREAM3S
                <span></span>
            </a>

            <br />
            <p class="mb-0">
                Copyright © 2020 Stream3s |
                <a href="{{ '' }}" rel="noopener noreferrer">Privacy Policy</a>
            </p>
        </div>
    </div>
</div>
</div>

</div>